body{
    background-color: blueviolet;
}


.contenitore{
    background-color: white;
    border-radius: 4px;
    width: 576px;
    height: 400px;
    position: relative;
    top: 50%;
    left: 50%;
}